<div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded">
    <div class="enc-card">
        <h3>Habilidades</h3>
        <i class="bi bi-plus-circle-fill"></i>
    </div>
    <div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded" id="habilidades">
        <ul>
            <li *ngFor="let habilidad of habilidadesList">
                {{habilidad.habilidad}} {{habilidad.porcentaje}}%
                <div class="progress">
                    
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{habilidad.porcentaje}}%"
                        aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>

                <div class="icons g-col-6 g-col-md-3">
                    <i class="bi bi-pencil-fill"></i>
                    <i class="bi bi-trash3-fill"></i>
                    
                </div>


            </li>
        </ul>
       
    </div>
</div>