<li>
    {{habilidad.habilidad}} - {{habilidad.porcentaje}}%
    <div class="progress">
        
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{habilidad.porcentaje}}%"
            aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <div class="icons g-col-6 g-col-md-3" *ngIf="logIn">
        <!-- <i class="bi bi-pencil-fill"></i>
        <i class="bi bi-trash3-fill"></i> -->
        <app-modificar (btnClick)="modificarHabilidad()"></app-modificar>
        <app-borrar (btnClick)="borrarHabilidad()"></app-borrar>
        
    </div>


</li>