<div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded" id="formacion">
  <div class="enc-card">
    <h3>Formacion</h3>
    <app-agregar *ngIf="logIn" (btnClick)="showModal=true"></app-agregar>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" [ngClass]="{'show':showModal}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregue un estudio</h5>
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
              (click)="showModal=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <app-form-formacion (hideModal)="ocultar($event)" (onAddFormacion)="addTitulo($event)"></app-form-formacion>
        </div>
      </div>
    </div>
  </div>

  <ul>
    <app-educacion-item *ngFor="let titulo of titulos" [titulo]="titulo" (deleteTitulo)="borrarTitulo($event)">
    </app-educacion-item>

  </ul>



</div>