<form (ngSubmit)="onEnviar()">
        <label for="empresa" class="col-form-label">
            Empresa:
        </label>
            <input [(ngModel)]="empresa" class="form-control" type="empresa" name="empresa" placeholder="Empresa">
    <label for="inicio" class="col-form-label">
        Año de Inicio:
    </label>
    <input [(ngModel)]="inicio" type="inicio" class="form-control" name="inicio" placeholder="Ingrese año">
    <label for="fin" class="col-form-label">
        Año de Finalización:
    </label>
    <input [(ngModel)]="fin" type="fin" class="form-control" name="fin" placeholder="Ingrese año">
    <label for="puesto" class="col-form-label">
        Puesto que ocupó:
    </label>
    <input [(ngModel)]="puesto" type="puesto" class="form-control" name="puesto" placeholder="Puesto">
    <label for="link" class="col-form-label">
        Link a la Página de la Empresa:
    </label>
    <input [(ngModel)]="link" type="link" class="form-control" name="link" placeholder="Ingrese link aquí...">
    <label for="logo" class="col-form-label">
        Link del logo de la empresa:
    </label>
    <input [(ngModel)]="img" type="logo" class="form-control" name="logo" placeholder="Ingrese link aquí...">
    <p>{{empresa}}</p>
    <button type="submit" class="btn btn-primary">Guardar Experiencia</button>
    
</form>