<div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded" id="info">
    <div>
        <!-- FOTO -->
        <img id="info-img" class="position-relative profile-img" alt="imagen"
            src="https://media-exp1.licdn.com/dms/image/C5603AQE-brGfZNQ5KA/profile-displayphoto-shrink_400_400/0/1516979352054?e=1655337600&v=beta&t=FE5OJBUtXW8YQxwVV7NdItYCwfiz3Ii8QGp0D4YPIws" />
        <span class="badge rounded-pill bg-success">Editar foto</span>
    </div>
    <div>
        <h1>Marina Carracedo</h1>
        <div id="info-titulo">
            <h3>Programadora Web Full Stack Jr</h3>
        </div>
        <div id="info-company">
            <h2>Accenture</h2>
        </div>
        <div id="info-puesto">Tester Automation</div>
        <div id="info-contact">marina.carracedo@accenture.com</div>
        <div id="info-location">Rosario, Santa Fe (Argentina)</div>
    </div>
</div>