<li  class="item grid" id="experiencia">
<div class="img g-col-6 g-col-md-3">
    <!-- <a href={{experiencia.link}}> -->
        <img src={{experiencia.img}}>
    <!-- </a> -->
</div>

<!-- <div class="descripcion g-col-6 g-col-md-3"> -->
<div class="descripcion col-8">
<a href={{experiencia.link}}>
    <h4>{{experiencia.empresa}}</h4>
</a>
    <p>{{experiencia.inicio}} - {{experiencia.fin}}</p>
    <h5>{{experiencia.puesto}}</h5>
</div>

<div class="icons g-col-6 g-col-md-3" *ngIf="logIn">
    <!-- <i class="bi bi-pencil-fill"></i>
    <i class="bi bi-trash3-fill"></i> -->
    <app-modificar (btnClick)="modificarExperiencia()"></app-modificar>
    <app-borrar (btnClick)="borrarExperiencia()"></app-borrar>

</div>
</li>