<div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded">
    <div class="enc-card">
        <h3>Proyectos</h3>
        <i class="bi bi-plus-circle-fill"></i>
    </div>
    <div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded" id="proyectos">
        <ul>


            <li *ngFor="let proyecto of proyectosList">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">{{proyecto.nombre}}</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">{{proyecto.descripcion}}</h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer bg-transparent border-success">{{proyecto.anio}}</div>
                </div>
            </li>

        </ul>



        <!-- <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Header</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-success">Footer</div>
              </div>

              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Header</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-success">Footer</div>
              </div> -->



    </div>
</div>