<div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded">
    <div class="enc-card">
        <h3>Proyectos</h3>
        <app-agregar *ngIf="logIn" (btnClick)="addProyecto()"></app-agregar>
    </div>
    <div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded" id="proyectos">
        <ul>

            <app-proyecto-item *ngFor="let proyecto of proyectos" [proyecto]="proyecto" (deleteProyecto)="borrarProyecto(proyecto)"></app-proyecto-item>

            

        </ul>
    </div>
</div>