<header>
  <div class="container-fluid fixed-top">
    <div class="right">
      <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/sliderimage1/1647226457/Banner4.png">
      <h3>Argentina Programa</h3>
    </div>
    <div class="left">
      <span>
        <a href="https://www.facebook.com/mcarracedo/">
          <i class="bi bi-facebook"></i>
        </a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/marinacarracedorosario/">
          <i class="bi bi-linkedin"></i>
        </a>
      </span>
      <span>
        <a href="https://github.com/mcarracedo12/">
          <i class="bi bi-github"></i>
        </a>
      </span>

      <!-- <button type="button" class="btn btn-info">Login</button> -->

      <button>
        <a routerLink="/" routerLinkActive="active">Inicio</a>
        <a routerLink="profile" routerLinkActive="active" *ngIf="logIn">Perfil</a>
        <a routerLink="login" routerLinkActive="active" *ngIf="!logIn">Login</a>
        <a class="nav-link" (click)="logout()" href="" *ngIf="logIn">Logout</a>
      </button>
    </div>
  </div>
  <img alt="banner"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQopOtt6bCeFd8QuMNqb8lBPYR8qBy-be4orA&usqp=CAU" />
</header>