<header>
  <div class="container-fluid fixed-top">
    <div class="right">
      <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/sliderimage1/1647226457/Banner4.png">
      <h3>Argentina Programa</h3>
    </div>
    <div class="left">
      <span>
        <a href="https://www.facebook.com/mcarracedo/">
          <i class="bi bi-facebook"></i>
        </a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/marinacarracedorosario/">
          <i class="bi bi-linkedin"></i>
        </a>
      </span>
      <span>
        <a href="https://github.com/mcarracedo12/">
          <i class="bi bi-github"></i>
        </a>
      </span>
      
      <button type="button" class="btn btn-info" routerLinkActive="active" *ngIf="!logIn" (click)="showModal=true">
           Login
      </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" [ngClass]="{'show':showModal}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Inicie sesión</h5>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                            (click)="showModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <app-login></app-login>
                </div>
            </div>
        </div>


      <button type="button" class="btn btn-info" *ngIf="logIn" (click)="logout()" href="#" >
          Logout
      </button>
    </div>
  </div>
  <img alt="banner"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQopOtt6bCeFd8QuMNqb8lBPYR8qBy-be4orA&usqp=CAU" />
</header>