<div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded">
    <div class="card mat-card shadow-sm p-3 mb-5 bg-body rounded" id="info">

        <div>
            <img class="position-relative profile-img" alt="imagen" [src]='img' />
            <app-modificar *ngIf="logIn" (onAddPersona)="modificarDatos($event)" (btnClick)="showModal=true"></app-modificar>
        </div>
        <div>
            <div>
                <h1>{{nombre}}</h1>
            </div>
    
            <div id="info-titulo">
                <h3>{{tituloactual}}</h3>
            </div>
            <div id="info-company">
                <h2>{{empresa}}</h2>
            </div>
            <div id="info-puesto">
                {{puesto}}
            </div>
            <div id="info-contact">
                {{contacto}}
            </div>
            <div id="info-location">
                {{ciudad}}, {{provincia}} ({{pais}})
            </div>
        </div>
    
    
    </div>
   


    <div class="modal fade" id="exampleModal" [ngClass]="{'show':showModal}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualice su información:</h5>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                        (click)="showModal=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <app-form-dato (hideModal)="ocultar($event)" (onAddPersona)="modificarDatos($event)"></app-form-dato>
            </div>
        </div>
    </div>
</div>