<form  (ngSubmit)="onEnviar()">
    <label for="nombre" class="col-form-label">
        Habilidad:
    </label>
    <input [(ngModel)]="nombre" name="nombre" class="form-control" type="nombre" [defaultValue]=habilidad.nombre placeholder="Ingrese habilidad">
    <label for="porcentaje" class="col-form-label">
        Porcentaje:
    </label>
    <input [(ngModel)]="porcentaje" name="porcentaje" type="porcentaje" class="form-control" [defaultValue]=habilidad.porcentaje placeholder="Ingrese porcentaje">
    <button type="submit" class="btn btn-secondary">Guardar Habilidad</button>
</form>