/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(219, 218, 218);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
header .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 50px;
    background-color: black;
}
header .right{
    display: flex;
    justify-content: space-around;
    border-radius: 35px;
}
header .left{
    display: flex;
    justify-content: space-around;
    border-radius: 35px;
}
header h3{
    color: azure;
}
header div .right img{
    height: 50px;
    width: 150px;
    border-radius: 35px;
    padding: 10px;
}
header div .left img{
    height: 50px;
    width: 50px;
    border-radius: 35px;
    padding: 10px;
}
header img{
    width: 100%;
    height: 305px;
}

/* DESDE LA FOTO DE PERFIL */
#info{
    display: flex;
    /* justify-content:flex-start; */
    justify-content:center;
}
.profile-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -110px;
    z-index: 1;
    align-self: auto;
}

/* CARDS */
.card-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

div.mat-card h1{
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.25;
    color: indigo;
}


.item {
    margin: 20px;
    width: 90%;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
}

div.mat-card .item a img{
    width: 300px;
    height: 75px;
    margin-right: 8px;
    border-radius: 32px;
}   

/* .fecha{
    width: 20%;
}
.titulo{
    width: 30%;
}
.img{
    width: 20%;
}
.descripcion{
    width: 30%;
} */